
<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Restaurant</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Styles -->
    </head>
    <body>
        <div class="flex-center position-ref full-height">
            <div id="applicatipn">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-md-8 m-xl-auto">
                            <!-- <input type="text" v-model="prix">
                            <input type="text" v-model="qte">
                            {{ checkAge }} {{ name |cap }} -->
                            {{ msg }} from {{ name }}
                            <first-component v-on:msg="getMsg">
                                <p slot="top">1</p>
                                <p slot="left">2</p>
                                <p>3</p>
                                <p>4</p>
                            </first-component>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template id="template">
            <div>
                <input type="text" class="from-group" v-model="name"  name="">
                <input type="text" class="from-group" v-model="msg"  name="">
                <button @click="dataFun()">Valide</button>
                <slot name="top"></slot>
            </div>
        </template>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

        <script>
            Vue.component('first-component',{
                template : '#template',
                props : [],
                data : function(){
                    return {
                        msg : '',
                        name : '',
                    }
                },
                methods : {
                    dataFun(){
                        this.$emit('msg',this.msg,this.name)
                    }
                }
            })
        </script>
        <script>
             var vm = new Vue({
                el : "#applicatipn",
                data : {
                    msg :'',
                    name : '',
                },
                methods : {
                    getMsg(msg,name){
                        this.msg = msg;
                        this.name =name;
                    }
                }
            })

        </script>
         <!-- <script>
             var vm2 = new Vue({
                el : "#applicatipn2",
                data : {

                },
                components : {
                    comp : {
                        template : '#template2',
                        props : [],
                        data : function(){
                            return {
                                msg : "=temp2"
                            }
                        }
                    }
                }
            })
            var vm = new Vue({
                el : "#applicatipn",
                data : {
                    qte : '',
                    prix : '',
                    name : 'salah'
                },
                methods : {
                    hello()
                    {
                        alert("hello")
                    }
                },
                computed : {
                    checkAge()
                    {
                        return this.qte *  this.prix
                    }
                },
                filters : {
                    cap(name)
                    {
                        return name.toUpperCase()
                    }
                }
            })
        </script> -->
    </body>
</html>
